<div class="form-input">
    <div class="input">
        <label for="name">Task Name</label>
        <input type="text" #name>
    
    </div>


    <div class="input">
        <label for="fee"> Task  Description</label>
        <input type="text" #desc>
    </div>

    <div class="input">
        <label for="course">Completion Date</label>
        <input type="text" #date>
    </div>


    <div class="btn">
       <button>Add Task</button>
    </div>

    <!-- <div class="btn"> -->
        
        <!-- <button (click)="AddStudent(name,course,fee,balance)"><b>Add Student</b></button> -->
    <!-- </div> -->


</div>

